---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Sokratesa%2013,%20Warszawa,%20Polska&key=AIzaSyAmrCusicuwh0YfD4FHGjcwe5oEjqt4tKw&mode=bicycling&origins=Plac%20Europejski%202,%20Warszawa,%20Polska&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "Sokratesa 13, 00-001 Warszawa, Poland" ],
           "origin_addresses" : [ "plac Europejski 2, 00-844 Warszawa, Poland" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "5.7 mi",
                          "value" : 9215
                       },
                       "duration" : {
                          "text" : "33 mins",
                          "value" : 1990
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 06 Oct 2018 18:57:09 GMT
recorded_with: VCR 4.0.0
